.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #add8e6;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.label {
  font-size: 1.2em;
}

.input {
  padding: 10px;
  font-size: 1em;
}

.submitButton {
  padding: 10px;
  font-size: 1.2em;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
